/* -----------------------MAIN----------------------- */
:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: sans-serif;
    letter-spacing: .05em;
    color: var(--body);
}

/*-----------------------COVER-----------------------  */
#cover {
    background-color: rgba(238, 238, 238, 0.15);
}
.cover {
    background-image: url("webpages Imgs/cover.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.coverRow {
    border-radius: 10px;
    padding: 150px;
    background-color: rgba(32, 84, 151, 0.2);
}
.cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 73, 146, 0.5);
    z-index: -1;
}

/* -----------------------NAVBAR----------------------- */
#navbarSupportedContent {
    justify-content: center;
}
.navbar {
    border-bottom: 1px rgb(179, 179, 179) solid;
    color: black;
}

.navbar-brand {
    width: 45px;
    height: 45px;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a{
    text-align: center;
}

.form-container {
}

/* -----------------------BANNER-----------------------*/
#banner {
    background-color: rgba(238, 238, 238, 0.15);
}
.header-title {
    padding-top: 15%; 
    color: white;
    padding-left: 9%;
}
.header-p {
    color: white;
    padding-top: 5%;
    padding-left: 10%;

}

#banner-bg {
    z-index: -1;
    position: absolute;
    opacity: 100%;
    padding: 0;
    margin: 0;
}


/* -----------------------Content-----------------------*/
#content {
    background-color: rgba(7, 40, 148, 0.45);
}

#content .container-fluid {
    padding-top: 100px;
}
.content-title {
    padding-top: 15%; 
    color: white;
    text-align: center;
}
.content-p {
    color: white;
    padding-top: 5%;
    text-align: center;
}

/* -----------------------Services-----------------------*/
#services {
    background-color: rgba(7, 40, 148, 0.45);
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.services .btn {
}
.service-img {
    width: 60%;
}
.service-title {
    padding-top: 5%; 
    color: white;
}
.service-p {
    color: white;
    padding: 0 10%;
}

/* -----------------------TEST-----------------------*/
