/* -----------------------MAIN----------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    letter-spacing: .05em;
}

/* -----------------------NAVBAR----------------------- */
#navbarSupportedContent {
    justify-content: center;
}
.navbar {
    border-bottom: 1px rgb(179, 179, 179) solid;
    color: black;
}

.navbar-brand {
    width: 45px;
    height: 45px;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a{
    text-align: center;
}

.form-container {
}

/* -----------------------BANNER-----------------------*/
#banner {
    background-color: rgba(238, 238, 238, 0.15);
}
.header-title {
    padding-top: 15%; 
    color: white;
    padding-left: 9%;
}
.header-p {
    color: white;
    padding-top: 5%;
    padding-left: 10%;

}

#banner-bg {
    z-index: -1;
    position: absolute;
    opacity: 100%;
    padding: 0;
    margin: 0;
}


/* -----------------------Content-----------------------*/
#content {
    background-color: rgba(7, 40, 148, 0.45);
}

#content .container-fluid {
    padding-top: 100px;
}
.content-title {
    padding-top: 15%; 
    color: white;
    text-align: center;
}
.content-p {
    color: white;
    padding-top: 5%;
    text-align: center;
}